<!DOCTYPE html>

<html>

<head>
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>{{errorMessage}}</p>
        <img src='/imgs/plain404.jpg'>
    </div>
    
    {{>footer}}
</body>
</html>