<!DOCTYPE html>

<html>

<head>
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>Page designed by {{designer}}</p>
        This is the page you can use to learn how to use the site
    </div>
    {{>footer}}
</body>

</html>